/* Reset Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-feature-settings: 'clig' off, 'liga' off;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Import Fonts */
@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  src: url('./assets/fonts/manrope/static/Manrope-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces 144';
  font-weight: 600;
  src: url('./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf') format('truetype');
  font-display: swap;
}

/* Global Rules */
:root {
  /* Site Width*/
  --Site-Width: 1440px;

  /* Colors */
  --Dark-Purple: #24053E;
  --Eucaplyptus: #44FFA1;
  --Davys-Grey: #584D62;
  --Ghost-White: #FCF8FF;
  --White: #FFF;
  font-size: 16px;
  line-height: 1.25;

  /* Typography */
  --Manrope: 'Manrope', sans-serif;
  --Fraunces-144pt: 'Fraunces 144', sans-serif;
}

body {
  background-color: grey;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  font-family: var(--Manrope);
  color: var(--Dark-Purple);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

/* Transitions */
.btn-primary a,
.btn-secondary a {
  transition: all 0.3s ease-in-out;
}

/* Common Rules */
body,
header,
footer,
main {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--Fraunces-144pt);
  font-weight: 600;
  font-style: normal;
}

/* Headings */
h1 {
  font-size: 5rem;
  line-height: 5rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

/* Buttons */
.btn-primary a {
  flex-shrink: 0;
  padding: 0.81rem 1.53rem 1rem 1.59rem;
  display: block;
  background-color: var(--Eucaplyptus);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.777777;
  letter-spacing: -0.01125rem;
  border: 2px solid var(--Eucaplyptus);
  height: calc(64.94px - 4px);
}

.btn-primary a:hover,
.btn-secondary a:hover {
  background-color: transparent;
  color: var(--Eucaplyptus);
}

.btn-secondary a {
  color: var(--White, #FFF);
  font-family: Manrope;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.01125rem;
  border-bottom: 3px solid var(--Eucaplyptus);
  padding-bottom: 5px;
}

.container {
  width: 100%;
  max-width: calc((var(--Site-Width) - (154px * 2)));
  margin: 0 auto;
  padding: 0 1rem;
}

/* HEADER */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header .columns {
  margin-top: 3.61rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MAIN */
section#hero {
  width: 100%;
}

section#hero .container {
  display: flex;
  justify-content: center;
}


.underline {
  position: relative;
}

.underline::after {
  content: "";
  width: 243px;
  display: flex;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid var(--Eucaplyptus);
}

section#hero .title {
  margin-top: 9.12rem;
  margin-bottom: ;
  max-width: 39.6875rem;
  width: 100%;
}

section#hero .title * {
  color: var(--White);
  text-align: center;

}