/* Reset Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-feature-settings: 'clig' off, 'liga' off;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Import Fonts */
@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  src: url('./assets/fonts/manrope/static/Manrope-Regular.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces 144';
  font-weight: 600;
  src: url(./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format('opentype');
  font-display: swap;
}

/* Global Rules */
:root {
  /* Site Width*/
  --Site-Width: 1440px;

  /* Colors */
  --Dark-Purple: #24053E;
  --Eucaplyptus: #44FFA1;
  --Davys-Grey: #584D62;
  --Ghost-White: #FCF8FF;
  --White: #FFF;
  font-size: 16px;
  line-height: 1.25;

  /* Typography */
  --Manrope: 'Manrope', sans-serif;
  --Fraunces-144pt: 'Fraunces 144', sans-serif;
}

body {
  display: flex;
  font-family: var(--Manrope);
  color: var(--Dark-Purple);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

/* Transitions */
.btn-primary a,
.btn-secondary a {
  transition: all 0.3s ease-in-out;
}

/* Common Rules */
h1,
h2,
h3 {
  font-family: var(--Fraunces-144pt);
  font-weight: 600;
  font-style: normal;
}

/* Headings */
h1 {
  font-size: 5rem;
  line-height: 5rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

/* Buttons */
.btn-primary a {
  flex-shrink: 0;
  padding: 0.81rem 1.53rem 1rem 1.59rem;
  display: block;
  background-color: var(--Eucaplyptus);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.777777;
  letter-spacing: -0.01125rem;
  border: 2px solid var(--Eucaplyptus);
  height: calc(64.94px - 4px);
}

.btn-primary a:hover,
.btn-secondary a:hover {
  background-color: transparent;
  color: var(--Eucaplyptus);
}

.btn-secondary a {
  /* color: var(--White, #FFF); */
  color: red;
  font-family: Manrope;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.01125rem;
  border-bottom: 3px solid var(--Eucaplyptus);
  padding-bottom: 5px;
}

.container {
  width: 100%;
  max-width: var(--Site-Width);
  margin: 0 auto;
  padding: 0 1.5rem;
}